.main {
  margin: auto;
  max-width: 1400px;
  position: relative;
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
}

.retrato {
  width: 600px;
  max-width: 700px;
  min-width: 400px;
  position: relative;
}

.retrato img {
  width: 100%;
  height: auto;
  display: block;
}

.informacion {
  width: 700px;
  max-width: 700px;
  min-width: 400px;
  font-family: var(--font-oswald);
  text-align: center;
}

.informacion h1 {
  font-size: 6rem;
  font-weight: 600;
}

.informacion_fotos {
  width: 100%;
}

.informacion h2 {
  font-size: 6rem;
  line-height: 7rem;
  font-weight: 600;
}

.datos {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  transform: translateY(-50%);
  background: color-mix(in srgb, var(--texto-boton) 5%, transparent);
  backdrop-filter: blur(28px);
  z-index: 20;
  border: 1px solid color-mix(in srgb, var(--texto-boton) 20%, transparent);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 100px;
}

.stat {
  text-align: center;
}

.statNum {
  font-size: 2rem;
  font-family: var(--font-oswald);
  margin-bottom: 10px;
}

@media screen and (max-width: 1400px) {
  .retrato {
    display: none;
  }

  .informacion {
    margin-bottom: 20px;
  }

  .informacion h1 {
    line-height: 6rem;
    margin-bottom: 20px;
  }

  .datos {
    position: static; /* Lo regresas al flujo normal */
    transform: none; /* ¡IMPORTANTE! Quitas el desplazamiento del 50% */
    width: 100%; /* Aseguras que ocupe el ancho del contenedor */
    padding: 20px; /* Ajustas el padding que era muy grande (100px) para móviles */
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
