.main {
  margin: auto;
  max-width: 1400px;
  position: relative;
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
}

.retrato {
  width: 600px;
  max-width: 700px;
  min-width: 400px;
  position: relative;
}

.retrato img {
  width: 100%;
  height: auto;
  display: block;
}

.informacion {
  width: 700px;
  max-width: 700px;
  min-width: 400px;
  font-family: var(--font-oswald);
  text-align: center;
}

.informacion h1 {
  font-size: 6rem;
  font-weight: 600;
}

.informacion_fotos {
  width: 100%;
}

.informacion h2 {
  font-size: 6rem;
  line-height: 7rem;
  font-weight: 600;
}

.datos {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  transform: translateY(-50%);
  background: color-mix(in srgb, var(--texto-boton) 5%, transparent);
  backdrop-filter: blur(28px);
  z-index: 20;
  border: 1px solid color-mix(in srgb, var(--texto-boton) 20%, transparent);
  display: flex;
  padding: 30px 100px;
  justify-content: space-between;
}

.stat {
  text-align: center;
}

.statNum {
  font-size: 2rem;
  font-family: var(--font-oswald);
  margin-bottom: 10px;
}
