.main {
  max-width: 1200px;
  margin: 30px auto 0;
}

.encabezado {
  text-align: center;
  margin-bottom: 50px;
}

.titulo {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 1.1rem;
  font-weight: 300;
}

/* Filtros */
.filtros {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 18px 0 20px;
}

.filterBtn {
  border: 1px solid var(--acento);
  background: var(--background);
  color: var(--texto);
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition:
    transform 120ms ease,
    background 150ms ease,
    border 150ms ease;
}

.filterBtn:hover {
  transform: translateY(-1px);
}

.filterBtnActive {
  border: 1px solid var(--acento);
  background: var(--acento);
  color: var(--texto-boton);
}

/* Cards grid */
.cards {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

/* Card base (cuadrado) */
.card {
  aspect-ratio: 1 / 1;
  position: relative;
  background: var(--background);
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Imagen */
.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

/* Stack 2 imágenes */
.stack {
  position: relative;
  width: 100%;
  height: 100%;
}

.stackItem {
  position: absolute;
  inset: 0;
  border-radius: 10px;
  /* overflow: hidden; */
}

/* adelante: leve rotación contraria */
.stackFront {
  transform: rotate(8deg) translate(4px, -2px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.35);
}

/* hover y modal de cada elemento */
/* Card clickable */
.cardBtn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
  will-change: transform;
}

@media screen and (max-width: 1200px) {
  .main {
    max-width: 90%;
  }

  .cards {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
